.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border-radius: 50%;
    margin: 1rem;
    width: 100px;
    height: 100px;
    box-shadow: 3px 2px 2px rgba(185, 174, 174, 0.925);
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}