.game-layout {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.score {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

mat-slider {
  width: 90%;
}

.slider-span {
  font-size: xx-large;
}

::ng-deep {
  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }
  .mat-slider-thumb {
    transform: scale(0) !important;
  }
  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }
}

.winner-container {
  bottom: 20px;
  position: fixed;
  right: 50%;
  button {
    align-items: center;
    background: red;
    border-radius: 50%;
    border: none;
    box-shadow: 0 8px 0 rgb(183, 9, 0), 0 15px 20px rgba(0, 0, 0, 0.35);
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: larger;
    height: 100px;
    justify-content: center;
    outline: none;
    transition: 0.4s all ease-in;
    width: 100px;
  }
  button:focus {
    box-shadow: 0 4px 0 rgb(183, 0, 0), 0 8px 6px rgba(0, 0, 0, 0.45);
    padding-top: 3px;
    transform: translateY(4px);
  }
}
