.game-layout {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.score {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

mat-slider {
  width: 90%;
}

.slider-span {
  font-size: xx-large;
}

::ng-deep {
  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }
  .mat-slider-thumb {
    transform: scale(0) !important;
  }
  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }
}
