<div class="container" *ngIf="user">
  <img class="img-rounded mt" src="{{ user.photoURL }}" />
  <h1>Hola {{ user.displayName }}!</h1>

  <mat-card>
    <form
      (submit)="onSubmit()"
      [formGroup]="form"
      *ngIf="!isParticipating; else participating"
      autocomplete="off"
    >
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Apodo</mat-label>
        <input
          matInput
          id="first-name"
          formControlName="nickname"
          type="text"
        />
      </mat-form-field>
      <br />
      <mat-checkbox color="primary" formControlName="displayImage">
        Usar imagen de Google
      </mat-checkbox>
      <br />
      <br />
      <label>Qué te pareció la charla?</label>
      <mat-slider
        color="primary"
        thumbLabel
        tickInterval="5"
        step="5"
        min="0"
        max="100"
        aria-label="units"
        formControlName="valuation"
      ></mat-slider>
      <br />
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Comentario</mat-label>
        <textarea
          matInput
          formControlName="comment"
          type="text"
          rows="5"
        ></textarea>
      </mat-form-field>
      <br />
      <button
        class="participate-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Participar!
      </button>
    </form>
  </mat-card>
  <br />
  <button mat-raised-button class="logout-button">
    <mat-icon>logout</mat-icon> Salir
  </button>
</div>

<ng-template #participating>
  <div class="participating">
    <h2>Ya estás participando.</h2>
    <h3>Gracias por tu feedback!</h3>
  </div>
</ng-template>
